@using TopAtlanta.Web.Models;

@model AccountDetailVM

<form class="box" data-module="account" method="post" action="@Url.Action("Edit")">
    @Html.HiddenFor(model => model.AccountId)

    <div class="actions pull-right text-right">
        <button type="submit" class="btn btn-link">save</button><br />
        <button type="button" class="btn btn-link" data-get="@Url.Action("Details", new { id = this.Model.AccountId })">cancel</button>
    </div>

    <h2>@(Model.AccountId == 0 ? "Create" : "Edit") an account</h2>

    @Html.ValidationSummary()

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First name" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last name" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>
    </div>

</form>